header{
	background-color: #E7B7BD ;
}
#exampleModalCenterTitle{
	width: 100%;
}

#newList{
	width: 100%;
	text-align: centre;
	margin: auto;
}

#newListUl{
	padding: 5px;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
    //padding: 10px;
}


#newTitle{
	width: 100%;
}

.mainCard{
	padding: 20px;
}

.innerDiv{
	display: inline-block;
}

.saveEdit{
	visibility: hidden;
	float: right;
	word-wrap: break-word;
}


section{
	box-shadow: 6px 6px 4px -2px #D3D3D3;
}

.headerDiv{
	padding: 10px;
	width: 80%;
}

.wrapperDiv{
	width: 20%;
}