header{
	background-color: #E7B7BD ;
}
#exampleModalCenterTitle{
	width: 100%;
}

#newList{
	width: 100%;
	text-align: centre;
	margin: auto;
}

#newListUl{
	padding: 5px;
}

#newTitle{
	width: 100%;
}

.mainCard{
	padding: 20px;
}

